@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Lemon&family=Sarabun&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-image: url(Vector.svg);
    margin: 0px;
    font-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.cabecalho {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    max-width: 1367px;
}

.nome {
    font-family: 'Lemon', cursive;
    font-weight: 400;
    color: #4F7478;
    font-size: 30px;
}

.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 500px;
    margin-left: 795px;
    margin-top: 100px;
    gap: 25px;
}

.texto {
    font-family: 'Lemon', cursive;
    font-weight: 400;
    color: #4F7478;
    font-size: 40px;
}

form .input{
    margin-top: 5px;
    margin-bottom: 1.5rem;
}

label {
    font-family: 'Sarabun', sans-serif;
    font-weight: 400;
    color: #4F7478;
    font-size: 16px;
}

.input {
    display: flex;
    flex-direction: row;
    width: 361px;
    gap: 5px;
    background: #F3F4F5;
    border: 2px solid #4F7478;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 7px;
}

.input input {
    width: 80%;
    border: none;
    background: none;
    outline: none;
}

.botao {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 361px;
}

.submit {
    width: 145px;
    height: 45px;

    background: #4F7478;
    border-radius: 20px;
    border: none;

    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #F3F4F5;
}

.submit:hover {
    background: #293b3d;
    letter-spacing: 0.5px;
}

.input i{
    font-size: 15px;
    padding: 5px;
    opacity: 40%;
}
